<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Yagna Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG2" />
	</listeners>


	<test name="Yagna App Test Cases">
		<classes>
			<class name="com.qa.test.LoginPageTest"></class>
			<class name="com.qa.test.RegisterTest"></class>
<!-- 			<class name="com.crm.qa.testcases.ContactsPageTest"></class> -->

		</classes>
	</test>
</suite>